<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="comment-match">
  <template>
    <style include="iron-flex"></style>
    <style>
      :host{
        display: block;
        box-sizing: border-box;
        width: 100%;
      }

      .comment-block{
        @apply(--shadow-elevation-2dp);
        width: 80%;
        min-height: 100px;
        padding: 8px;
        margin: 16px;
        padding-top: 4px;
        text-align: center;

        transition: all 0.6s ease-in-out;
      }

      :host[open] .comment-block{
        min-height: 200px;
      }

      .comment-block:hover{
        @apply(--shadow-elevation-4dp);
        cursor: pointer;
      }

      .comment-block:active{
        @apply(--shadow-elevation-2dp);
        cursor: pointer;
      }
    </style>

      <div id="block" class="layout vertical center" hidden$="[[!match]]">
        <div class="comment-block">
          <h3>"[[match.comment]]"</h3>
          <template is="dom-repeat" items="[[match.team1.players]]" index-as="index">
            <div style="text-align: right; padding-right: 24px;">
              <p>
                [[item.user.username]]
              </p>
            </div>
          </template>
          <template is="dom-if" if="[[showDetails]]">
            <div style="text-align: left; padding-right: 24px; clear: both">
              <template is="dom-repeat" items="[[match.team2.players]]" index-as="index">
                <div>
                  <p>
                    Avversario: [[item.user.username]]
                  </p>
                </div>
              </template>
              <p>Risultato: [[match.team1.goals]] - [[match.team2.goals]]</p>
              <p>Data: [[match.dateCreation]]</p>
            </div>
          </template>
        </div>
     </div>
  </template>
  <script>
    Polymer({
      is: 'comment-match',

      properties: {
        match: {
          type: Object,
          value: null
        },
        open: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },
        showDetails: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        }
      },

      listeners: {
        'tap': 'regularTap',
        'block.transitionend' : 'endTransition'
      },

      observers: ['_responseChange(match)'],

      regularTap: function(e) {
        if(this.open){
          this.showDetails = false;
        }
        this.open = !this.open;
      },

      endTransition: function(event){
        if(event.propertyName == "min-height" && this.open){
          this.showDetails = !this.showDetails;
        }
      },

      _responseChange: function(match){

      }
    });
  </script>
</dom-module>
