<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="fifa-match">
  <template>
    <style include="iron-flex"></style>
    <style>
      :host{
        display: block;
        box-sizing: border-box;
        width: 100%;
      }

      .match-block{
        @apply(--shadow-elevation-2dp);
        width: 80%;
        min-width: 250px;
        height: 75px;
        padding: 8px;
        margin: 16px;
        padding-top: 4px;
        text-align: center;

        transition: all 0.6s ease-in-out;
      }

      :host[open] .match-block{
        height: 150px;
      }

      .match-block:hover{
        @apply(--shadow-elevation-4dp);
        cursor: pointer;
      }

      .match-block:active{
        @apply(--shadow-elevation-2dp);
        cursor: pointer;
      }

      :host[small-device] {
        .avatar{
          font-size: 19px;
        }

        .match-text{
          padding-left: 0px;
        }

        .match-block h3{
            font-size: 0.8em;
        }
      }

      :host[won] paper-icon-item{
        --paper-item-icon: {
          height: 56px;
          width: 56px;
          background: #43A047;
          border-radius: 50%;
        };
      }

      :host[lost] paper-icon-item{
        --paper-item-icon: {
          height: 56px;
          width: 56px;
          background: #F44336;
          border-radius: 50%;
        };
      }

      :host[draw] paper-icon-item{
        --paper-item-icon: {
          height: 56px;
          width: 56px;
          background: #FDD835;
          border-radius: 50%;
        };
      }

      .avatar{
        text-align: center;
        width: 100%;
        font-size: 32px;
        font-weight: lighter;
        color: white;
      }

      .match-text{
        padding-left: 16px;
      }
    </style>

    <iron-media-query query="(max-width: 700px)" query-matches="{{smallDevices}}"></iron-media-query>

      <div id="container" class="layout vertical center" style="width: 100%">
        <div id="this-match" class="match-block layout horizontal center" hidden$="[[!match]]">
          <div class="layout horizontal flex">
            <div class="layout flex horizontal center">
              <paper-icon-item>
                <template is="dom-if" if="[[lost]]">
                  <div class="avatar" item-icon>L</div>
                </template>
                <template is="dom-if" if="[[won]]">
                  <div class="avatar" item-icon>W</div>
                </template>
                <template is="dom-if" if="[[draw]]">
                  <div class="avatar" item-icon>D</div>
                </template>
                <div class="match-text">
                  <h3>[[_computeOpponents(userEmail)]]</h3>
                </div>
              </paper-icon-item>
            </div>
            <div class="layout flex horizontal center" hidden="[[smallDevices]]">
              <h3>Risultato: [[match.team1.goals]] -  [[match.team2.goals]]</h3>
            </div>
            <div class="layout horizontal center">
              <paper-icon-button on-click="regularTap" style="min-width: 0px;" icon="myicons:more-vert"></paper-icon-button>
            </div>
            <div class="layout horizontal center">
              <paper-icon-button on-click="deleteMatch" style="min-width: 0px;" icon="myicons:close"></paper-icon-button>
            </div>
          </div>
         </div>
       </div>
    </template>
  <script>
    Polymer({
      is: 'fifa-match',

      properties: {
        match: {
          type: Object,
          value: null
        },
        userEmail: {
          type: String,
          value: ""
        },
        open: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },
        won: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },
        lost: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },
        draw: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },
        showDetails: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        }
      },

      listeners: {
        'this-match.transitionend' : 'endTransition',
      },

      observers: ['_responseChange(match)', '_emailChange(userEmail)'],

      regularTap: function(e) {
        if(this.open){
          this.showDetails = false;
        }
        this.open = !this.open;
      },

      deleteMatch: function(e) {
        this.fire('delete-match', {matchId: this.match.id});
        console.log("Match deleted, id: " + this.match.id);
      },

      endTransition: function(event){
        if(event.propertyName == "height" && this.open){
          this.showDetails = !this.showDetails;
        }
      },

      _computeOpponents: function(email){
        if(!this.match){
          return "";
        }

        if(!email){
          return this.match.team1.players[0].user.username + " - " + this.match.team2.players[0].user.username;
        }

        var team1 = false;
        if(this.match.team1.players[0].email === email){
          team1 = true;
        }

        if(team1){
          return this.match.team2.players[0].user.username;
        }else{
          return this.match.team1.players[0].user.username;
        }
      },

      _emailChange: function(userEmail){
        if(this.match){
          this._responseChange(this.match);
        }
      },

      _responseChange: function(match){
        this.draw= false;
        this.won= false;
        this.lost= false;

        if(!this.userEmail){
          return;
        }

        if(match.team1.goals === match.team2.goals){
          this.draw = true;
          return;
        }

        var team1 = false;
        if(match.team1.players[0].email === this.userEmail){
          team1 = true;
        }

        if(match.team1.goals > match.team2.goals){
          if(team1){
            this.won = true;
          }else{
            this.lost = true;
          }
        }else{
          if(!team1){
            this.won = true;
          }else{
            this.lost = true;
          }
        }
        this.updateStyles();
      }
    });

    window.addEventListener( 'resize', () => {
      var match = document.querySelector("#this-match");
      if(match){
        if( match.clientWidth > 440){
          //set smallDevices true
        }else{
          //set smallDevices false
        }
      }
    }, false);
  </script>
</dom-module>
