<!-- <link rel="import" href="https://cdn.vaadin.com/vaadin-core-elements/master/vaadin-grid/vaadin-grid.html"> -->
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="google-profile-picture">
  <template>
  <style>
    :host{
      display: block;
      box-sizing: border-box;
    }

    #img{
      width: 100%;
      height: 100%;
      /*should be applied from outside the component*/
      border-radius: 50%;
    }
  </style>
    <!-- Fetch an user's info from google -->
    <iron-ajax auto url="[[googleInfoUrl]]" handle-as="json" last-response="{{usersInfo}}"></iron-ajax>

    <img id="img" src="[[profileImg]]"/>
    </template>
  <script>
    Polymer({
      is: 'google-profile-picture',

      properties: {
        email: {
          type: String,
          value: null,
          notify: true
        },
        fallBackImg: {
          type: String,
          value: null,
          notify: true
        },
        usersInfo: {
          type: Object,
          value: null,
          notify: true
        },
        googleInfoUrl: {
          computed: '_computedInfoUrl(email)'
        },
        profileImg:{
          computed: '_getProfilePic(usersInfo, fallBackImg)'
        }
      },

      _computedInfoUrl: function(email){
        if(email){
          return "https://picasaweb.google.com/data/entry/api/user/" + email + "?alt=json";
        }else{
          return "";
        }
      },

      _getProfilePic: function(usersInfo, fallBackImg){
        if(usersInfo){
          return usersInfo.entry.gphoto$thumbnail.$t;
        }

        if(!usersInfo && fallBackImg){
          return fallBackImg;
        }else{
          return "";
        }
      }
    });
  </script>
</dom-module>
