<link rel="import" href="elements.html"/>
<script src="scripts/app.js"></script>

<dom-module id="my-app">
  <template>
    <style>
      /*:host ::content app-header{
        width: 100%;
        margin: 0;
        display: flex;
        align-items: flex-end;

        text-transform: uppercase;
      }*/
      :host{
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
      }

      my-login{
        --login-primary-color: var(--app-primary-color);
        --login-secondary-color: var(--login-secondary-color);
      }

      :host ::content app-header{
        background: var(--app-primary-color);
        color: var(--app-text-color);
      }

      :host ::content iron-pages my-login{
        --login-primary-color: black;
        --login-secondary-color: var(--app-secondary-color);
        --login-text-color: var(--app-text-color);
      }

      :host ::content user-app-toolbar{
        background: var(--app-primary-color);
        color: var(--app-text-color);
      }

      :host ::content app-header-layout{
        height: 100%;
      }

      :host ::content app-header-layout #contentContainer{
        height: calc(100% - 64px);
      }

      :host ::content iron-pages{
        height: 100%;
      }

      app-header paper-icon-button {
       --paper-icon-button-ink-color: var(--app-text-color);
     }

     .drawer-container {
       height: 100%;
       overflow: auto;
       background: var(--app-primary-color);
       color: var(--app-text-color);
     }

     .drawer-list {
       margin: 0 20px;
     }

     .drawer-list div {
       display: block;
       padding: 0 16px;
       text-decoration: none;
       color: var(--app-secondary-color);
       line-height: 40px;
     }

     .drawer-list div:hover{
       cursor: pointer;
     }

     .drawer-list div:active{
        background: var(--app-secondary-color);
        color: var(--app-primary-color);
     }

     .drawer-list div.iron-selected {
       font-weight: bold;
       border-left-color: var(--app-secondary-color);
       border-left-style: solid;
       border-left-width: 4px;
     }

     .overlay{
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background: #FFF;
     }

    </style>

    <firebase-app auth-domain="first-progressive-web-ap-1a4a2.firebaseapp.com"
      database-url="https://first-progressive-web-ap-1a4a2.firebaseio.com/"
      api-key="AIzaSyAeimrwJbPsXuf2JyB3Td8RWArwfMLeAZY">
    </firebase-app>
    <firebase-auth id="auth" user="{{user}}" provider="google" on-error="handleError">
    </firebase-auth>
    <iron-media-query query="(max-width: 640px)" query-matches="{{smallDevices}}">
    </iron-media-query>

    <iron-ajax
      auto
      url="https://incio-bot.herokuapp.com/fifa-api/general-stats/"
      handle-as="json"
      params="{{options}}"
      loading={{loading}}
      on-error="onError"
      last-response="{{generalStats}}"></iron-ajax>

    <app-location id="app_location" route="{{route}}"></app-location>
    <app-route
        id="app_route"
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

      <app-drawer-layout fullbleed>
        <app-drawer id="drawer" opened={{drawer-opened}}>
          <div class="drawer-container">
            <user-app-toolbar user=[[user]]></user-app-toolbar>
            <iron-selector selected="{{routeData.page}}" fallback-selection="profile" attr-for-selected="name" class="drawer-list" role="navigation">
              <div name="profile"><p>Profile</p></div>
              <div name="matches"><p>Matches</p></div>
              <div name="players"><p>Players</p></div>
              <div name="comments"><p>Best comments</p></div>
              <div name="gallery"><p>Gallery</p></div>
              <div name="contacts"><p>Contacts</p></div>
            </iron-selector>
          </div>
        </app-drawer>
        <app-header-layout id="ahl">
          <app-header fixed effects="waterfall">
            <app-toolbar hidden="[[_logicalProperty(drawer-opened, smallDevices)]]">
              <paper-icon-button icon="myicons:menu" drawer-toggle></paper-icon-button>
              <div main-title>FifaEueiApp</div>
            </app-toolbar>
          </app-header>

          <iron-pages
              selected="{{selectedPage}}"
              attr-for-selected="name"
              fallback-selection="profile"
              role="main">
            <my-login
              id="login"
              name="profile"
              loading=[[loading]]
              summary="[[summaryData]]">
              <!-- <highcharts-chart
                type="pie"
                data='[[0,0],[1,7],[2,1],[3,6],[4,8],[5,6]]'
                title=''
                x-zoom x-label="Iterations"
                y-label="Awesomeness Index">
              </highcharts-chart> -->
            </my-login>
            <my-matches
              id="matchesView"
              name="matches"
              user=[[user]]
              user-email=[[user.email]]
              limit=10
              margin-left=[[appDrawerWidth]]
              matches=[[matches]]>
            </my-matches>
            <my-users user=[[user]] name="players" style="min-height: 100%"></my-users>
            <my-comments
              id="commentsView"
              name="comments">
            </my-comments>
            <my-gallery id="galleryView" name="gallery"></my-gallery>
            <div name="contacts" style="text-align: center"><h2>Contacts</h2></div>
          </iron-pages>

          <div class="overlay" hidden="[[!loading]]">
            <paper-spinner active="[[loading]]"></paper-spinner>
          </div>
        </app-header-layout>
      </app-drawer-layout>
  </template>

  <script>
    Polymer({
      is: 'my-app',

      properties: {
        routeData: Object,
        selectedPage: {
          type: String,
          reflectToAttribute: true,
          value: 'profile',
          observer: '_pageChanged',
        },
        user:{
          type: Object,
          observer: '_userChanged',
        },
        generalStats:{
          type: Object,
          observer: '_userChanged',
        },
        matches:{
          type: Array,
          observer: '_userChanged',
        },
        appDrawerWidth:{
          trpe: Number,
          value: 256
        },
        options: {
          computed: 'computedOptions(user)'
        },
        summaryData: {
          computed: 'computedSummaryData(generalStats)'
        },
        loading: {
          type: Boolean,
          value: false
        }
      },

      ready: function(){
      },

      observers: [
        '_routePageChanged(routeData.page)',
        '_deviceSizeChanged(smallDevices)',
        '_lockScroll(loading)'
      ],

      computedOptions: function(user){
        if(user)
          return {email: user.email};
      },

      _lockScroll: function(loading) {
        if(loading){
          document.body.style.overflow = "hidden";
        }else{
          document.body.style.overflow = "visible";
        }
      },

      computedSummaryData: function(generalStats){
        if(generalStats){
          return [{title: "MATCHES", value: generalStats.matchesSize},
          {title: "WINS", value: generalStats.won},
          {title: "GOALS", value: generalStats.goalsScored}];
        }
      },

      _deviceSizeChanged: function(smallDevices) {
        if(this.$.ahl){
          if(smallDevices){
            this.$.ahl.children[1].style.height="calc(100% - 64px)";
            this.appDrawerWidth = 0;
          }else{
            this.$.ahl.children[1].style.height="100%";
            this.appDrawerWidth = 256;
          }
        }
      },

      _logicalProperty: function(cond1, cond2) {
        return cond1 && !cond2;
      },

      _routePageChanged: function(page) {
        if(page == "matches"){
          if(!Polymer.isInstance(this.$.matchesView)){
            this.loading = true;
            Polymer.Base.importHref('/my-matches.html', () => {
              this.loading = false;
              this.selectedPage = page;
            }, null, true);
            console.log('matches loaded');
          }else{
            this.selectedPage = page;
          }
        }

        else if(page == "players"){
          if(!Polymer.isInstance(this.$.galleryView)){
            this.loading = true;
            Polymer.Base.importHref('/my-users.html', () => {
              this.loading = false;
              this.selectedPage = page;
            }, null, true);
            console.log('users loaded');
          }else{
              this.selectedPage = page;
          }
        }

        else if(page == "gallery"){
          if(!Polymer.isInstance(this.$.galleryView)){
            this.loading = true;
            Polymer.Base.importHref('/my-gallery.html', () => {
              this.loading = false;
              this.selectedPage = page;
            }, null, true);
            console.log('gallery loaded');
          }else{
              this.selectedPage = page;
          }
        }

        else if(page == "comments"){
          if(!Polymer.isInstance(this.$.commentView)){
            this.loading = true;
            Polymer.Base.importHref('/my-comments.html', () => {
              this.loading = false;
              this.selectedPage = page;
            }, null, true);
            console.log('comment loaded');
          }else{
              this.selectedPage = page;
          }
        }
        else{
          this.selectedPage = page;
        }

        if(this.smallDevices){
          this.$.drawer.close();
        }

        // if(Math.random() >= 0.7){
        //   this.customStyle['--app-primary-color'] = '#4f1c1d';
        //   this.customStyle['--app-secondary-color'] = '#e0c78a';
        //   this.customStyle['--app-text-color'] = '#f5f1dd';
        //   this.updateStyles();
        // } else if(Math.random() >= 0.7){
        //   this.customStyle['--app-primary-color'] = 'black';
        //   this.customStyle['--app-secondary-color'] = '#e0c78a';
        //   this.customStyle['--app-text-color'] = 'white';
        //   this.updateStyles();
        // }else if(Math.random() >= 0.3){
        //     this.customStyle['--app-primary-color']= '#203246';
        //     this.customStyle['--app-secondary-color'] = '#ff8b1e';
        //     this.customStyle['--app-text-color'] = 'white';
        //     this.updateStyles();
        // }
      },

      _userChanged: function(user) {
        if(user){

        }
      },

      _pageChanged: function(newPage) {
        // if(this.routeData.page != newPage){
        //   this.routeData.page = newPage;
        // }
      }
    });

    // to hide topBar when panel in condesed
    // in the if bottomBar height is used to avoid flickering
    // caused by the use (more proper) of topBar which has height zero if condesed (and hidden)
    addEventListener('paper-header-transform', function(e) {
      var bottomBar = document.querySelector('#bottomBar');
      var topBar = document.querySelector('#topBar');
      var headerContainer = document.querySelector('#headerContainer');

      if(topBar && bottomBar) {
        var d = e.detail;
        var m = d.height - d.condensedHeight;
        if((d.y + bottomBar.offsetHeight) >= m){
          topBar.style.display = 'none';
        } else{
          topBar.style.display = 'flex';
        }
      }

      if(headerContainer && bottomBar) {
        d.condensedHeight = d.condensedHeight - 10;
      }
    });
  </script>
</dom-module>
