<link rel="import" href="bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="bower_components/paper-spinner/paper-spinner.html" />
<link rel="import" href="comment-match.html" />

<dom-module id="my-comments">
  <template>
    <style include="iron-flex"></style>
    <style>
      :host{
        display: block;
        box-sizing: border-box;
        height: 300px;
      }

      .match-block{
        @apply(--shadow-elevation-2dp);
        width: 80%;
        padding: 8px;
        margin: 16px;
        padding-top: 4px;
        text-align: center;
      }

      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFF;
      }
    </style>
    <iron-ajax
      auto
      url="https://incio-bot.herokuapp.com/fifa-api/matches/random/withcomments/"
      handle-as="json"
      loading={{loading}}
      on-error="onError"
      last-response="{{response}}"></iron-ajax>

      <div class="layout vertical center" hidden$="[[!user]]" style="padding-top: 16px;">
       <template is="dom-repeat" items="[[response]]" index-as="index">
         <comment-match
          match="[[item]]"
         ></comment-match>
       </template>
     </div>

     <div class="overlay" hidden="[[!loading]]">
       <paper-spinner active="[[loading]]"></paper-spinner>
     </div>
  </template>
  <script>
    Polymer({
      is: 'my-comments',

      properties: {
        data: {
          type: Object,
          value: null
        },
        loading: {
          type: Boolean,
          value: false
        }
      },

      observers: [  '_responseChange(data)', '_lockScroll(loading)'],

      _lockScroll: function(loading) {
        if(loading){
          document.body.style.overflow = "hidden";
        }else{
          document.body.style.overflow = "visible";
        }
      },

      _responseChange: function(data){

      },

      handleResponse: function(){
       console.log('Jobs Done')
     },

      onError: function(){

      }
    });
  </script>
</dom-module>
