<link rel="import" href="bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="bower_components/iron-image/iron-image.html" />
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="bower_components/paper-spinner/paper-spinner.html" />
<link rel="import" href="bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="bower_components/iron-list/iron-list.html">

<dom-module id="my-gallery">
  <template>
    <style include="iron-flex"></style>
    <style>
      :host{
        display: block;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      :host[small-devices] iron-image.img {
          width: 100%;
          height: 150px;
      }

      iron-image.img {
          width: 95%;
          height: 350px;
          margin: 16px 0px;
      }

      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFF;
      }
    </style>

    <iron-ajax
      auto
      url="data/images.json"
      handle-as="json"
      loading={{loading}}
      on-error="onError"
      last-response="{{responseImages}}"></iron-ajax>
    <iron-media-query query="(max-width: 640px)" query-matches="{{smallDevices}}">
    </iron-media-query>

    <div class="layout vertical flex center" hidden$="[[!user]]">
      <iron-list items="[[responseImages.images]]" as="item" style="height: 100vh; width: 100%; text-align: center;">
        <template>
          <div style="width: 100%; text-align: center;">
            <iron-image class="img" src="[[item.img]]" placeholder="[[item.img_placeholder]]" preload fade sizing="cover">
            </iron-image>
          </div>
        </template>
      </iron-list>
    </div>

     <div class="overlay" hidden="[[!loading]]">
       <paper-spinner active="[[loading]]"></paper-spinner>
     </div>
  </template>
  <script>
    Polymer({
      is: 'my-gallery',

      properties: {
        data: {
          type: Object,
          value: null
        },
        loading: {
          type: Boolean,
          value: false
        },
        smallDevices: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        }
      },

      observers: [  '_responseChange(data)', '_lockScroll(loading)',   '_deviceSizeChanged(smallDevices)'],

      _lockScroll: function(loading) {
        if(loading){
          document.body.style.overflow = "hidden";
        }else{
          document.body.style.overflow = "visible";
        }
      },

      _responseChange: function(data){

      },

      _deviceSizeChanged: function(smallDevices) {
      },

      handleResponse: function(){
       console.log('Jobs Done')
     },

      onError: function(){

      }
    });
  </script>
</dom-module>
