<link rel="import" href="bower_components/polymerfire/firebase-auth.html" />
<link rel="import" href="bower_components/paper-button/paper-button.html" />
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="bower_components/iron-media-query/iron-media-query.html">

<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
<!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" /> -->
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->


<dom-module id="my-login">
  <template>
    <style include="iron-flex"></style>
    <style>
      :host{
        display: block;
        display: flex;
        flex-direction: column;
      }

      :host > .main-div{
        min-height: 100%;
      }

      :host > .main-div > #header_div{
        background: var(--login-secondary-color);
      }

      :host > .main-div img{
        border-radius: 50%;
        width: 30%;
        height: 30%;

        transition: top 1s ease-in-out;
      }

      .data-block {
        width: 100%;
        border-right-style: groove;
        border-right-width: 2px;
      }

      .data-block.small-block{
        font-size: 12px;
      }

      .data-block h3{
        font-weight: 900;
        font-size: 14px;
      }

      .data-block.last{
        border-right-width: 0px;
      }

      @media (min-width: 640px){
        #user_profile_img{
            width: 150px;
            height: 150px;
            padding: 8px 32px;
        }
      }

      @media (max-width: 640px){
        #user_profile_img{
            width: 150px;
            height: 150px;
        }
      }


      :host #header_div{
        min-height: 180px;
      }

      paper-item:hover{
        cursor: pointer;
      }

      paper-menu-button {
        --paper-menu-button-dropdown: {
          color: red;
        };
      }

      .my-img-container{
        position: relative;
        top: 75px;
      }

      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFF;
      }

      .top{
        text-align: center;
        padding-top: 32px;
        font-size: 32px;
        font-weight: bold;
        margin: 8px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        height: 200px;
      }
    </style>
    <firebase-auth
      id="auth"
      user="{{user}}"
      status-unknown="{{statusUnknown}}"
      provider="google">
    </firebase-auth>
    <iron-media-query query="(max-width: 640px)" query-matches="{{smallDevices}}"></iron-media-query>
    <iron-media-query query="(min-width: 1000px)" query-matches="{{largeDevices}}"></iron-media-query>

    <div id="main_div" class="main-div layout vertical" style="text-align: center;">
      <div id="header_div" class="layout vertical center">
        <div style="width: 100%; text-align: right">
          <paper-menu-button horizontal-align="right">
            <paper-icon-button icon="myicons:more-vert" class="dropdown-trigger"></paper-icon-button>
            <paper-menu class="dropdown-content" selected="{{selectedAction}}" attr-for-selected="action">
              <paper-item hidden="[[!user]]" action="logout">Log out</paper-item>
              <paper-item hidden="[[user]]" action="login">Log in</paper-item>
            </paper-menu>
          </paper-menu-button>
        </div>
        <div class="layout horizontal center my-img-container">
          <img id="user_profile_img" src="https://amploprod.s3.amazonaws.com/assets/no-user-image-square-9f6a473a32ad639f619216331d10d61ce1b35c9271d5683920960e1a5ee45bb8.jpg"></img>
          <div class="layout vertical center" hidden="[[_logicalProperty(user,largeDevices)]]" style="padding-top: 8px;">
            <h3>Last activiy: yesterday at 12.34</h3>
            <p>User since: 21/03/2017</p>
          </div>
        </div>
      </div>
      <div class="layout horizontal" hidden$="[[!user]]" style="padding-top: 88px;">
        <template is="dom-repeat" items="{{summary}}">
          <div class$="[[_blockClass(index)]]">
            <h3 style="font-weight: bold">[[item.value]]</h3>
            <h3 style="opacity: 0.5">[[item.title]]</h3>
          </div>
        </template>
      </div>
      <div id="content-div"class="layout horizontal center" style="min-height: 200px">
        <div class="layout vertical center flex" hidden$="[[user]]">
          <div class="layout horizontal center flex">
              <h3 style="opacity: 0.5">Press the menu button to log in</h3>
          </div>
        </div>
        <!-- <div class="layout horizontal center flex" style="width: 100%; height: 100%; padding-top: 16px;">
          <div hidden$="[[!user]]">
            <div class="row">
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="top">
                  1 of 4
                </div>
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="top">
                  1 of 4
                </div>
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="top">
                  1 of 4
                </div>
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="top">
                  1 of 4
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="overlay" hidden="[[!loading]]">
      <paper-spinner active="[[loading]]"></paper-spinner>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-login',
      properties:{
        user:{
          type: Object,
          observer: '_userChanged'
        },
        statusKnown:{
          type: Object
        },
        myHeight:{
          type: String
        },
        loading: {
          type: Boolean,
          value: false
        },
        summary:{
          type: Object,
          value: function() { return []; }
        },
      },

      observers: [  '_smallSizeChanges(smallDevices)',  '_largeSizeChanges(largeDevices)', '_menuAction(selectedAction)'],

      _logicalProperty: function(cond1, cond2) {
        return !cond1 || !cond2;
      },

      _menuAction: function(action) {
        if(action == "logout"){
          this.logout();
        }
        if(action == "login"){
          this.login();
        }
      },

      _blockClass: function(index) {
        if(index == (this.summary.length - 1)){
          return "data-block last";
        }
        return "data-block";
      },

      _lockScroll: function(loading) {
        if(loading){
          document.body.style.overflow = "hidden";
        }else{
          document.body.style.overflow = "visible";
        }
      },

      _userChanged: function(user){
        const img = document.querySelector('#user_profile_img');
        if(user && img){
          img.src= user.photoURL;
        }
        if(!user && img){
          img.src= "https://amploprod.s3.amazonaws.com/assets/no-user-image-square-9f6a473a32ad639f619216331d10d61ce1b35c9271d5683920960e1a5ee45bb8.jpg";
        }
      },
      _smallSizeChanges: function(smallDevices) {
        var datablocks = this.querySelectorAll(".data-block");
        for(block of datablocks){
          if(smallDevices){
            block.classList.add("small-block");
          }else{
            block.classList.remove("small-block");
          }
        }
      },

      _largeSizeChanges: function(largeDevices) {
      var contentdiv = this.querySelector("#content-div")
        if(!largeDevices){
          contentdiv.classList.add("vertical");
          contentdiv.classList.remove("horizontal");
        }else{
          contentdiv.classList.remove("vertical");
          contentdiv.classList.add("horizontal");
        }
      },

      login: function(){
        return this.$.auth.signInWithPopup();
      },
      logout: function(){
        return this.$.auth.signOut();
      }
    });
  </script>
</dom-module>
