<link rel="import" href="bower_components/polymerfire/firebase-auth.html" />
<link rel="import" href="bower_components/paper-button/paper-button.html" />
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="bower_components/iron-media-query/iron-media-query.html">
<!-- <link rel="import" href="bower_components/iron-icons/iron-icons.html" /> -->
<link rel="import" href="bower_components/iron-icons/social-icons.html" />
<link rel="import" href="bower_components/paper-styles/typography.html" />
<link rel="import" href="bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="bower_components/paper-input/paper-input.html" />
<link rel="import" href="fifa-match.html" />

<dom-module id="my-matches">
  <template>
    <style include="iron-flex"></style>
    <style>
      :host{

      }
      :host > .main-div{

      }

      :host > .main-div > #header_div{

      }

      #toast_container{
        position: fixed;
        width: 100%;
        height: 80px;
        bottom: 0px;
        left: 0px;
        z-index: 0;
      }

      paper-toast{
        --paper-toast-background-color: var(--app-primary-color);
        --paper-toast-color: var(--app-text-color);
      }

      paper-input{
        width: 100%;
        padding: 0px 40px;
      }

      .match-block{
        @apply(--shadow-elevation-2dp);
        width: 80%;
        padding: 8px;
        margin: 16px;
        padding-top: 4px;

        overflow: hidden;
      }

      :host ::content paper-fab{
        --paper-fab-keyboard-focus-background: var(--app-secondary-color);
        --paper-fab-background: var(--app-primary-color);

        position: absolute !important;
        right: 32px;
        z-index: 1;
      }

      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFF;
      }
    </style>
    <iron-ajax
      auto
      url="https://incio-bot.herokuapp.com/fifa-api/matches/"
      handle-as="json"
      params="{{options}}"
      loading={{loading}}
      on-error="onError"
      last-response="{{matches}}"></iron-ajax>

    <div id="matches_main_div" class="main-div layout vertical" style="text-align: center;" hidden$="[[!user]]">
      <div id="header_div" class="layout vertical center"  style="width: 100%">
        <div class="layout horizontal" style="width: 100%">
          <paper-input always-float-label value="{{limit::change}}" label="Last matches"></paper-input>
        </div>
      </div>
      <div class="layout vertical center" hidden$="[[!user]]" style="padding-top: 16px;">
        <template is="dom-repeat" items="{{matches}}">
          <fifa-match match="[[item]]" user-email=[[userEmail]]></fifa-match>
        </template>
        <div id="toast_container">
          <paper-toast id="toast" text="Match deleted"></paper-toast>
        </div>
      </div>
    </div>
    <div class="layout vertical center" style="height: 100%" hidden$="[[user]]">
      <div class="layout horizontal center flex">
          <h3 style="opacity: 0.5">Log in to view matches</h3>
      </div>
    </div>

    <div class="overlay" hidden="[[!loading]]">
      <paper-spinner active="[[loading]]"></paper-spinner>
    </div>
  </template>
  <script>
    Polymer({
      is: 'my-matches',
      properties:{
        user:{
          type: Object,
          observer: '_userChanged'
        },
        marginLeft:{
          type: Number,
          observer: '_marginLeftChanged',
          value: 0,
        },
        loading: {
          type: Boolean,
          value: false
        },
        userEmail:{
          type: String,
          value: "",
          notify: true
        },
        limit:{
          type: String,
          value: "10",
          notify: true
        },
        options: {
          computed: 'computedOptions(userEmail, limit)'
        }
      },

      listeners: {
          'delete-match': 'handleMatchDeletion',
        },

      observers: [  '_lockScroll(loading)', '_smallSizeChanges(smallDevices)',  '_largeSizeChanges(largeDevices)'],

      handleMatchDeletion: function(event){
        console.log(event.detail.matchId);
        this.matches = this.matches.filter(item => item.id !== event.detail.matchId);

        this.openToast();
      },

      _logicalProperty: function(cond1, cond2) {
        return !cond1 || !cond2;
      },

      computedOptions: function(userEmail, limit){
        return {email: userEmail, limit: limit};
      },

      _userChanged: function(user){

      },

      _matchesChanged: function(matches){

      },

      _marginLeftChanged: function(marginLeft) {
        this.$.toast_container.style.marginLeft= marginLeft + "px";
      },

      _lockScroll: function(loading) {
        if(loading){
          document.body.style.overflow = "hidden";
        }else{
          document.body.style.overflow = "visible";
        }
      },

      openToast: function() {
        this.$.toast.fitInto = this.$.toast_container;
        this.$.toast.open();
      },
    });
  </script>
</dom-module>
