<!-- <link rel="import" href="https://cdn.vaadin.com/vaadin-core-elements/master/vaadin-grid/vaadin-grid.html"> -->
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="bower_components/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="bower_components/paper-styles/paper-styles.html" />
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="google-profile-picture.html" />

<dom-module id="my-users">
  <template>
    <style include="iron-flex"></style>
    <style is="custom-style">
      vaadin-grid#material {

        font-family: Roboto, sans-serif;
        --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));

        --vaadin-grid-cell: {
          padding: 0;
        };

        --vaadin-grid-header-cell: {
          height: 64px;
          color: rgba(0, 0, 0, var(--dark-secondary-opacity));
          font-size: 12px;
        };

        --vaadin-grid-body-cell: {
          height: 48px;
          color: rgba(0, 0, 0, var(--dark-primary-opacity));
          font-size: 13px;
        };

        --vaadin-grid-body-row-hover-cell: {
          background-color: var(--paper-grey-200);
        };

        --vaadin-grid-body-row-selected-cell: {
          background-color: var(--paper-grey-100);
        };

        --vaadin-grid-focused-cell: {
          box-shadow: none;
          font-weight: bold;
        };
      }

      vaadin-grid#material .cell {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 24px;
      }

      vaadin-grid#material .cell.last {
        padding-right: 24px;
      }

      vaadin-grid#material .cell.numeric {
        text-align: right;
      }

      vaadin-grid#material .image {
            height: 40px;
            width: 40px;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 15px;
          }

      vaadin-grid#material paper-checkbox {
        --primary-color: var(--paper-indigo-500);
        margin: 0 24px;
      }

      vaadin-grid#material vaadin-grid-sorter {
        --vaadin-grid-sorter-arrow: {
          display: none !important;
        };
      }

      vaadin-grid#material vaadin-grid-sorter .cell {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      vaadin-grid#material vaadin-grid-sorter iron-icon {
        transform: scale(0.8);
      }

      vaadin-grid#material vaadin-grid-sorter:not([direction]) iron-icon {
        color: rgba(0, 0, 0, var(--dark-disabled-opacity));
      }

      vaadin-grid#material vaadin-grid-sorter[direction] {
        color: rgba(0, 0, 0, var(--dark-primary-opacity));
      }

      vaadin-grid#material vaadin-grid-sorter[direction=desc] iron-icon {
        transform: scale(0.8) rotate(180deg);
      }

    </style>
    <style>
      :host{
        display: block;
        box-sizing: border-box;
      }

      .round-status{
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }

      .negative{
        background: red;
      }

      .positive{
        background: green;
      }
    </style>

    <!-- Fetch an array of users to be shown in the grid -->
    <iron-ajax auto url="https://incio-bot.herokuapp.com/fifa-api/users/" handle-as="json" last-response="{{users}}"></iron-ajax>

    <div class="layout vertical center flex" style="height: 100%" hidden$="[[user]]">
      <div class="layout horizontal center flex" style="height: 100%">
          <h3 style="opacity: 0.5">Log in to view players</h3>
      </div>
    </div>

    <vaadin-grid id="material" style="height: 100%" items="[[users]]" hidden="[[!user]]">

      <vaadin-grid-column width="50px" flex-grow="0">
        <template class="header">
          <div class="cell">#</div>
        </template>
        <template>
          <div class="cell">[[index]]</div>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column width="15px">
        <template class="header">
          <div class="cell"></div>
        </template>
        <template>
          <div class="cell">
            <google-profile-picture class="image" id="user_profile_img" email="[[item.email]]" fall-back-img="https://amploprod.s3.amazonaws.com/assets/no-user-image-square-9f6a473a32ad639f619216331d10d61ce1b35c9271d5683920960e1a5ee45bb8.jpg"></img>
          </div>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column width="calc(50% - 100px)">
        <template class="header">
          <div class="cell">
            Username
          </div>
        </template>
        <template>
          <div class="cell">
            [[item.user.username]]
          </div>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column width="calc(30% - 100px)">
        <template class="header">Active</template>
        <template>
          <template is="dom-if" if="[[item.active]]">
            <div class="round-status positive"></div>
          </template>
          <template is="dom-if" if="[[!item.active]]">
            <div class="round-status negative"></div>
          </template>
        </template>
      </vaadin-grid-column>

    </vaadin-grid>

    </template>
  <script>
    Polymer({
      is: 'my-users',

      properties: {
        user: {
          type: Object,
          value: null,
          observer: '_userChanged'
        }
      },

      _userChanged: function(user) {
        if(user){
          this.style.display="block";
        }else{
          this.style.display="initial";
        }
      },

      listeners: {
      },

      observers: [],
    });
  </script>
</dom-module>
