<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="user-app-toolbar">
  <template>
    <style>
      :host {
        @apply(--layout-horizontal);
        @apply(--layout-center);
        position: relative;
        height: 128px;
        padding: 16px 16px;
        pointer-events: none;
        font-size: var(--app-toolbar-font-size, 20px);
      }

      :host img{
        border-radius: 50%;
        width: 55px;
        height: 55px;
        min-width: 55px;
        min-height: 55px;

        margin-right: 16px;
      }

      :host p{
        font-size: 0.6em;
        margin: 4px 0px
      }

      :host h4{
        margin: 4px 0px;
        font-weight: inherit;
      }

      ::content > * {
        pointer-events: auto;
      }
      ::content > paper-icon-button {
        /* paper-icon-button/issues/33 */
        font-size: 0;
      }
      ::content > [main-title],
      ::content > [condensed-title] {
        pointer-events: none;
        @apply(--layout-flex);
      }
      ::content > [bottom-item] {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
      }
      ::content > [top-item] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
      ::content > [spacer] {
        margin-left: 64px;
      }
    </style>


    <img id="profile_img" hidden=[[!user]]></img>
    <template is="dom-if" if="[[user]]">
      <div class="vertical">
        <h4>[[user.displayName]]</h4>
        <p>[[user.email]]</p>
      </div>
    </template>
    <template is="dom-if" if="[[!user]]">
      <h5>Please, log in</h5>
    </template>
    <!-- <p>[[user.email]]!</p> -->

  </template>

  <script>
    Polymer({
      is: 'user-app-toolbar',

      properties: {
        user: {
          type: Object,
          observer: '_userChanged',
        }
      },

      _userChanged: function(user){
        const img = document.querySelector('#profile_img');
        if(user && img){
          img.src= user.photoURL;
        }
      }
    });
  </script>
</dom-module>
